# PostgreSQL settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=quotes_db

# Rust Database Connection URL
DATABASE_URL=postgres://postgres:postgres@postgres:5432/quotes_db

# Rust Log Level (error, warn, info, debug, trace)
RUST_LOG=info
